.card {
    border: 1px solid rgba(0, 0, 0, 0.50);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.50);
    flex-direction: column;
    }

    .card h2{
        color: aliceblue;
        display: block;
    }

    .card h3{
        color: aliceblue;
        flex-direction: column;
    }